body {
    font-family: arial, sans-serif;
}
.open-source-code{
max-width: 600px;
margin: 30px auto;


}

.weather-app{

    width: 650px;
    height: 300px;

   margin-bottom: 0;
    padding: 30px;

    border: 1px solid #dadde1;
    border-radius: 5px;
}
h1{
    color: #878787;
    font-weight: 100;
    line-height: 28px;
   
    margin-bottom: 20px;

}
.clearfix weather-temp{

    width: 200px;
    margin-right: auto;
}
.weather-temp img {

    margin-right: 6px;
    height: 69px;
    width: 67px;
}

.weather-temp strong {

    margin-right: -20px;
    color: rgb(33, 33, 33);
    font-size: 60px;
    line-height: 1;
    font-weight: 350;

}

.units {

    position: relative;
    display: inline-block;


    margin-top: 6px;
    padding-left: 20px;
    top: -30px;


}


#weather-condition{
    
    color: #70757a;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-top: 5px;
    padding-left: 5px;
}
ul{
  
    margin: 0;
    padding: 0;
  
}
li{
    list-style: none;
    
}
li::first-letter{
     text-transform: capitalize;

}
#day{
       
    text-align: right;
    margin-left: 200px;
    display: inline-block;
}
h5{
    margin-left: 35px;
}
.day{
    color:#70757a;
}
.weather-temp .active{

        color: rgb(33, 33, 33);
         cursor: default;
}
.weather-temp .active:hover{

    text-decoration: none;
}